
<app-menu></app-menu>
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <div>
  <table id="tLibros" style="width:90%; border:thin; margin-bottom:10px;margin-top:10px" align="left">
      <tr>
          <th style="width:10.00%">Código</th>
          <th style="width:40.00%">Título</th>
          <th style="width:15.00%">Tema</th>
          <th style="width:30.00%">Editorial</th>
      </tr>
      <tr >
        <td>123</td>
        <td>Título</td>
        <td>Editorial</td>
        <td>Tema</td>
    </tr>
    <tr >
      <td>123</td>
      <td>Título</td>
      <td>Editorial</td>
      <td>Tema</td>
  </tr>
  <tr >
    <td>123</td>
    <td>Título</td>
    <td>Editorial</td>
    <td>Tema</td>
</tr>
<tr >
  <td>123</td>
  <td>Título</td>
  <td>Editorial</td>
  <td>Tema</td>
</tr>
<tr >
  <td>123</td>
  <td>Título</td>
  <td>Editorial</td>
  <td>Tema</td>
</tr>
<tr >
  <td>123</td>
  <td>Título</td>
  <td>Editorial</td>
  <td>Tema</td>
</tr>
<tr >
  <td>123</td>
  <td>Título</td>
  <td>Editorial</td>
  <td>Tema</td>
</tr>
<tr >
  <td>123</td>
  <td>Título</td>
  <td>Editorial</td>
  <td>Tema</td>
</tr>
<tr >
  <td>123</td>
  <td>Título</td>
  <td>Editorial</td>
  <td>Tema</td>
</tr>
<tr >
  <td>123</td>
  <td>Título</td>
  <td>Editorial</td>
  <td>Tema</td>
</tr>
<tr >
  <td>123</td>
  <td>Título</td>
  <td>Editorial</td>
  <td>Tema</td>
</tr>
</table>
</div> -->
  