<!-- <button type="button" class="btn btn-secondary" (click)="getautores()">Autores</button> -->
<h4>Autores</h4>
<div style="margin-top: 1rem;">
    <fieldset>
        <legend>Autores</legend>
    </fieldset> 
    <div  *ngIf="resultadoAutores">
        <table id="tLibros" style="width:90%; border:thin; margin-bottom:10px;margin-top:10px" align="left">
            <tr>
                <th style="width:15.00%">Código</th>
                <th style="width:40.00%">Nombre</th>
                <th style="width:15.00%"></th>
                <th style="width:30.00%"></th>
            </tr>
            
                <tr *ngFor="let autor of resultadoAutores">
                    <td>{{autor.id}}</td>
                    <td>{{autor.nombreAutor}}</td>
                    <td>{{autor.nombre}}</td>
                    <td>{{autor.apellidos}}</td>

                </tr>
        
        </table>
    </div>
</div>  
