
<script type="text/javascript">
   // $(document).ready(function () {
   
   //Función hover, sus parámetros son dos funciones, una para la entrada del ratón u una para la salida del ratón.
   //         En todas las tablas se ilumina la fila sobre la que pasa el ratón.
    $(function () {
       $("table td").hover(
           function () {
               $("td", $(this).closest("tr")).addClass("hover_row");
           },
           function () {
               $("td", $(this).closest("tr")).removeClass("hover_row");
           }
       );
   });
   //         En todas las tablas pone las filas pares con un color de fondo y las impares con otro
  /*  $('table').find('tr:even').css({'background-color': '#f5f5f5' })
       .end().find('tr:odd').css({ 'background-color': '#add8e6' }); 
      });     */                   // fin de Ready           
    </script> 
  

<div style="margin-top: 1rem;">
    <fieldset>
        <legend>Autores</legend>
    </fieldset> 
    <div *ngIf="resultadoAutores && !resultadoLibros && !resultadoAutor">
    <div id="Iniciales" align="center" style="padding-left: 3%;" >
        <fieldset>
           
            <ul id="Inicial" align="center">
              
                        <li class="horizontal cursor" style="color:darkred; text-decoration: none;"  *ngFor="let letra of listaLetras; let index = index"  (click)="pinchaLetra(letra) ">
                            <a>
                                {{letra}} 
                            </a>
                        </li>

            </ul>
     
        </fieldset>
    </div>

    <input type="checkbox" id="chk1" (change)="onCheckboxChange($event)">
    <label for="chk1" style="padding-left: 1em;"> Selección por Apellido</label><br>

    <!-- <div style="width:100%; padding-bottom:1em" align="center"><i class='fas fa-user-circle fa-border fa-5x'></i><br /></div> -->
    <div  id="divTablaAutores">
        <table id="tAutores" style="width:100%; border:thin; margin-bottom:10px;margin-top:10px" align="left">
            <tr>
                <th style="width:5.00%">Código</th>
                <th style="width:35.00%">Nombre</th>
                <th style="width:15.00%"></th>
                <th style="width:30.00%"></th>
                <th style="width:5.00%"></th>  
                <th style="width:5.00%"></th>
                <th style="width:5.00%"></th>
            </tr>
            
                <tr *ngFor="let autor of resultadoAutores | paginate: { itemsPerPage: items, currentPage: pagina, totalItems: total}; let index = index"  

                (mouseover)="ponover(true);asignaclases(index)" (mouseout)="ponover(false)"          
                [ngClass]="index %2 == 0 ? 'impares' : 'pares'"
                >  <!--   [ngClass]="asignaclases(index)" -->
                    <td>{{autor.id}}</td>
                    <td>{{autor.nombreAutor}}</td>
                    <td (click)="cellNombre(autor.nombre)">{{autor.nombre}}</td>
                    <td (click)="cellApellido(autor.apellidos)">{{autor.apellidos}}</td>
                   <!--  <td><button type="button"  class="btn btn-info btn-sm"  style="height: 1.5em;" (click)="selRow(autor.id)">Ver</button></td> -->
                   <td><i class="fas fa-book fa-1x cursor"   (click)="selRow(autor.id, autor.nombreAutor)"></i></td>
                   <td><i class="fa fa-question fa-1x cursor" (click)="SelAutor(autor.id)"></i></td>
                   <td><i class="fas fa-eraser fa-1x cursor" (click)="showDialog('Realmente quiere borrar el autor ' + autor.nombreAutor + '? Borrará todos sus libros.', autor.id)"></i></td>
                </tr>
        </table>  
 

    </div> 
    <div *ngIf="totaln > items">
    <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Anterior" nextLabel="Siguiente" class="paginationRed"></pagination-controls>
    </div>
    </div> 
    <div  *ngIf="resultadoLibros">
        <div>
        <button type="button"  class="btn btn-warning btn-sm" (click)="limpiarLibros()">Volver</button>
        </div>
        <div>
            <fieldset>
                <legend>{{nombreAutor}}</legend>
            </fieldset> 
        </div> 

        <div>
        <table id="tLibros" style="width:90%; border:thin; margin-bottom:10px;margin-top:10px" align="left">
            <tr>
                <th style="width:10.00%">Código</th>
                <th style="width:40.00%">Título</th>
                <th style="width:15.00%">Tema</th>
                <th style="width:30.00%">Editorial</th>
            </tr>
                <tr *ngFor="let libro of resultadoLibros ; let index=index"
                [ngClass]="index %2 == 0 ? 'impares' : 'pares-bis'" >
                    <td>{{libro.id}}</td>
                    <td>{{libro.titulo}}</td>
                    <td>{{libro.Editorialdto.nombreEditorial}}</td>
                    <td>{{libro.Temadto.nombreTema}}</td>
                </tr>
        </table>
        </div>

    </div>

 
    <div  *ngIf="resultadoAutor">
        <div> <button type="button"  class="btn btn-warning btn-sm" (click)="limpiarAutor()">Volver</button></div>
        <div> <app-autor [IdAutor]="currentItem"></app-autor></div>
       
    </div>
    <app-confirm-dialog></app-confirm-dialog>  
</div>
<!-- <div *ngIf="resultadoAutores && !resultadoLibros && !resultadoAutor">
       
</div> -->


